{% include "event_host_head.html" %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#number_of_players").on("keyup", ()=>{
        let number_of_players = $("#number_of_players").val()
        number_of_players = parseInt(number_of_players)
        let players = ''
        for(let i=0;i<number_of_players;i++){
            players = players + `
                <div class="col w-30 mt-10">
                    <label for="player_name${i}">Player ${i+1}</label>
                    <input type="text" id="player_name${i}" class="form-input"  name="player_name${i}" placeholder="Enter  Player Name">
                </div>
            `
        }
        $("#player_names").html(players)
  })
});
</script>
<div class="box mt-100 w-80 p-20">
    <div class="box-title">Add Teams</div>
    <form action="/add_teams_action" method="post">
        <div class="row p-20">
            <div class="col w-30 mt-10">
                <label for="game_title">Game Title:</label>
                <input type="text" id="game_title" class="form-input" name="game_title" placeholder="Enter Game Title" required>
            </div>

            <div class="col w-30 mt-10">
                <label for="coach_name">Coach Name:</label>
                <input type="text" id="coach_name" class="form-input"  name="coach_name" placeholder="Enter Coach Name" required>
            </div>
            <div class="col w-30 mt-10">
                <label for="number_of_players">Number Of Players:</label>
                <input type="text" id="number_of_players" class="form-input"  name="number_of_players" placeholder="Enter Number of Players" required>
            </div>
        </div>
        <div class="row p-20" id="player_names">

        </div>
        <div class="mt-10">
            <input type="submit" value="ADD TEAMS" class="form-btn">
        </div>
    </form>

</div>
