{% include "link.html" %}
<nav class="nav">
  <div class="nav-item">
    <div class="logo">
      <img src="../static/stadium_logo.png" class="logo-img">
          <div class="logo-title">STADIUM</div>
    </div>
  </div>
  <div class="nav-item">
    <div class="nav-menu">
        <div><a href="/event_host_home" class="nav-menu-item">Home</a></div>
        <div><a href="/teams" class="nav-menu-item">Teams</a></div>
        <div><a href="/view_schedules" class="nav-menu-item">View Schedules</a></div>
    </div>
  </div>
  <div class="nav-item">
    <div class="nav-right">
      <div><a href="/logout" class="nav-menu-item">Logout</a></div>
    </div>
  </div>
</nav>
