{% include "link.html" %}
<nav class="nav">
  <div class="nav-item">
    <div class="logo">
      <img src="../static/stadium_logo.png" class="logo-img">
          <div class="logo-title">STADIUM</div>
    </div>
  </div>
  <div class="nav-item">
    <div class="nav-menu">
        <div><a href="/" class="nav-menu-item">Home</a></div>
        <div><a href="/admin_login" class="nav-menu-item">Admin</a></div>
        <div><a href="/event_host_login" class="nav-menu-item">Event Host</a></div>
        <div><a href="/customer_login" class="nav-menu-item">Customer</a></div>
    </div>
  </div>
  <div class="nav-item">
    <div class="nav-right">
      <div><a href="/event_host_registration" class="nav-menu-item">Event Host SignUp</a></div>
      <div><a href="/customer_registration" class="nav-menu-item">Customer SignUp</a></div>
    </div>
  </div>
</nav>
